menuconfig ZERGRUSH
	bool "Custom ZERGRUSH Configurations" if EXPERT
	default y
	help
	  Modifications for the ZERGRUSH kernel

if ZERGRUSH
menu "Speedhacks Options"
menu "Overclock CPU"
config CPU_OVERCLOCK_15_GHZ
	boolean "Overclocking to 1.5GHz"
	default y
	help
	  Overclock for MSM8930 chipset. (Based on MSM8960 acpuclock table)

config CPU_OVERCLOCK_19_GHZ
	boolean "Overclocking to 1.9GHz"
	depends on CPU_OVERCLOCK_15_GHZ
	default y
	help
	  Overclock for MSM8930 chipset. (Based on MSM8960 acpuclock table)

config CPU_OVERCLOCK_21_GHZ
	boolean "Overclocking to 2.1GHz"
	depends on CPU_OVERCLOCK_19_GHZ
	default n
	help
	  Overclock for MSM8930 chipset. (Based on MSM8960 acpuclock table)

endmenu
endmenu

menu "Block Schedulers"
endmenu

menu "Extra CPU Govs"
endmenu

endif # ZERGRUSH
